{% extends "base.html" %}

{% block title %}Insumos{% endblock %}



{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Insumos Medicos</h2>
  <a href="{{ url_for('insumos.create')}}" class="btn btn-success">  ➕ Nuevo Insumo</a>
</div>


<table class="table table-bordered table-hover bg-white">
  <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">lote</th>
      <th scope="col">invima</th>
      <th scope="col">valor</th>
      <th scope="col">iva</th>
      <th scope="col">fecha_vencimiento</th>
      <th scope="col">activo</th>
      <th scope="col">fecha_creacion</th>
    </tr>
  </thead>

  <tbody>
    {% for insumo in insumos %}
    <tr>
      <td>{{ insumo.codigo }}</td>
      <td>{{ insumo.descripcion }}</td>
      <td>{{ insumo.lote }}</td>
      <td>{{ insumo.invima }}</td>
      <td>{{ insumo.valor }}</td>
      <td>{{ insumo.iva }}</td>
      <td>{{ insumo.fecha_vencimiento }}</td>
      <td>{{ 'Sí' if insumo.activo else 'No' }}</td>
      <td>{{ insumo.fecha_creacion.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}