flask 
flask-sqlalchemy 
flask-migrate 
flask-wtf 
flask-login 
wtforms 
email-validator 
python-dotenv 
flask-marshmallow 
marshmallow-sqlalchemy 
flask-restx 
pytz 
python-dateutil 
gunicorn 
waitress 
pytest 
pytest-flask 
black 
flake8 
pyodbc